<%include ../partials/speaker/header%>

		<div class="container">
  <div class="modal-dialog" >
		<div class="modal-content">
			<hr />
			<div class="modal-body">
				<form action="/speakers/editeprofile/<%=speaker._id%>" method="post"  >
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
							<span class="glyphicon glyphicon-user"></span>
							</span>
							<input type="text" name="id" value="<%=speaker._id%>"  class="form-control" placeholder="ID" disabled />
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
							<span class="glyphicon glyphicon-lock"></span>
							</span>
							<input type="text" name="name" value="<%=speaker.Name%>" class="form-control" placeholder="Name"  />
							<input type="text" name="username" value="<%=speaker.username%>" class="form-control" placeholder="username"  />
							<input type="text" name="password" value="<%=speaker.password%>" class="form-control" placeholder="password"  />
							<input type="text" name="username" value="<%=speaker.gender%>" class="form-control" placeholder="gender"  />
							<input type="text" name="password" value="<%=speaker.birthdate%>" class="form-control" placeholder="birthdate"  />

						</div>

                    </div>
                    <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-lock"></span>
								</span>
								<img src="/images/<%=speaker.image%>" style="width:200px;height:200px"/>
                                <input type="file" name="speakerImage" class="form-control"  value="/images/<%=speaker.image%>"/>
    
                            </div>
    
						</div>
						

					<div class="form-group text-center">
						<button type="submit" class="btn btn-success btn-lg" >update</button>
						
					</div>

				</form>
			</div>
		</div>
	</div>
</div>
</div>
</body>

<%include ../partials/admin/footer%>